<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adell.ItClient.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Adell.ItClient.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Adell.ItClient.Windows.Properties.Settings>
            <setting name="LastUserLogon" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSsh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardHost" serializeAs="String">
                <value>skynet.io</value>
            </setting>
        </Adell.ItClient.Windows.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Adell.ItClient.Windows.Properties.Settings>
            <setting name="MDnsService" serializeAs="String">
                <value>_libvirt._tcp</value>
            </setting>
            <setting name="MDnsDomain" serializeAs="String">
                <value>local</value>
            </setting>
        </Adell.ItClient.Windows.Properties.Settings>       
    </applicationSettings>
</configuration>